body{
	background-color:#505050;
	font-family: 'Lato', sans-serif;
}

#container{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}
#logo{
	background-color:black;
	color:white;
	font-size:42px;
	margin-top:20px;
	text-align:center;
	text-bottom:20px;
	letter-spacing:3px;
	font-weight:900;
	padding:50px;
}
#menu{
	background-color:#303030;
	margin-top:20px;
	margin-bottom:20px;
	color:#ffffff;
	padding:10px;
}
.option{
	float:left;
	min-width:50px;
	height:25px;
	font-size:18px;
	padding:10px;
	border-right:2px solid #444444;
	opacity:0.8;
}
.text_button{
	border:none;
	background-color:transparent;
	padding:0;
	color: white;
	font-size:18px;
}
.text_button:hover{
	background-color:black;
	cursor:pointer;
}
.option:hover{
	background-color:black;
	cursor:pointer;
}

#sidebar{
	float:left;
	width:148px;
	min-height:620px;
	padding:20px;
	background-color:lightgray;
	text-align:center;
	font-size:18px;
	border-right:2px solid #444444
}
.optionL{
	font-size:18px;
	height:25px;
	padding:10px;
	border-bottom:2px solid #444444
}
.optionL:hover{
	background-color:#707070;
	cursor:pointer;
}

#content{
	padding:40px;
	width:730px;
	background-color: #dedede;
	min-height:580px;
	text-align: justify;
	margin-left:auto;
	margin-right:auto;
}
#footer{
	clear:both;
	color:white;
	text-align:center;
	padding:20px;
	font-size:18px;
}
